body{
    background-color: bisque;
}

header{
    text-align: center;
}

table, th, td {
    border:1px solid black;
  }

table{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

th{
    width: 100px;
}