body{
    background-color: bisque;
}

header{
    text-align: center;
}

div{
    text-align: center;
    p{
        background-color: rgb(210, 180, 147);
        width: 440px;
        height: 220px;
        margin: 20px 30px 20px 30px; /* top right bottom left, for box align (with width and height in segment)*/
        padding: 40px 30px 40px 30px; /* top right bottom left, for text align*/
        text-align: start;
        text-indent: 20px;
        display: inline-block;
        border-radius: 5%;
    }
    img{
        float: right; 
        width: 240px; 
        height: 150px; 
        border-radius: 10%;
        margin-left: 15px;
    }
}

footer{
    text-align: center;
    position: relative;
    top: 50px;
}
